<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <script src="../assets/js/vue@2.6.12.js"></script>
</head>
<body style="font-family:sans-serif;font-size:24px;">
<!-- App Vue.js -->
<div id="app">
    <h1><span v-if="lang == 'english'">{{ theMessage_en }}</span><span v-if="lang == 'french'">{{ theMessage_fr }}</span>, {{ prenom }}</h1>
    <p><span v-if="lang == 'english'">Language: </span><span v-if="lang == 'french'">Langue: </span>{{ lang }}</p>
    <input v-model="prenom" type="text"><br>
    <select v-model="lang" name="lang" id="lang">
        <option value="english">English</option>
        <option value="french">French</option>
    </select>
    <hr>
</div>

<!-- Code Vue.js -->
<script>
    var vue1 = new Vue({
        el: "#app",
        data: {
            lang: "english",
            theMessage_en: "Welcome",
            theMessage_fr: "Bonjour",
            prenom: 'User'
        }
    });
</script>
</body>
</html>
