<!DOCTYPE html>
<html lang="fr">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource"></script>
    <style>img.chromoji {
        width: 1.2em !important;
        height: 1.2em !important;
    }

    .chromoji-font, #chromoji-font {
        font-size: 1.2em !important;
    }</style>
</head>
<body style="margin:0px;font-family:sans-serif;">
<h1>List of contacts</h1>
<div id="app">
    <h3>{{ message }}</h3>
    <p>
        There are {{ nbPersons }} persons in the list, the mean age is {{ moyenneAge }} years old.
    </p>
    <p>
        There are {{ nbHommes }} males.
    </p>
    <p>
        There are {{ nbFemmes }} females.
    </p>
    <ul v-for="contact in contacts">
        <li>
            <img alt="" v-bind:src="contact.picture">
            <span v-if="contact.gender == 'female'">Ms. </span>
            <span v-else="contact.gender == 'male'">Mr. </span>
            {{ contact.fname }} {{ contact.lname }}, {{ contact.age }}
        </li>
    </ul>
</div>
<script>
    var vue1 = new Vue({
        el: "#app",
        data: {
            contacts: [],
            message: "Waiting...",
            hommes: 0,
            femmes: 0,
        },
        created: function () {
            this.message = "Loading..."
            this.$http.get('data1.json')
                .then(response => {
                    this.contacts = response.body // en cas de succès
                    console.log(response)
                }, response => {
                    this.message = "Error!" // en cas d'échec
                    console.log(response)
                });
            this.message = "Finished!"
        },
        computed: {
            nbPersons: function () {
                return (this.contacts).length
            },

            moyenneAge: function () {
                sum = 0;
                this.contacts.forEach(function (element) {
                    sum += element.age;
                });
                return (sum / this.nbPersons).toFixed(2);
            },

            nbHommes: function () {
                nb = 0
                this.contacts.forEach(
                    function (element) {
                        if (element.gender === 'male') {
                            nb++
                        }
                    })
                return nb;
            },

            nbFemmes: function () {
                nb = 0
                this.contacts.forEach(
                    function (element) {
                        if (element.gender === 'female') {
                            nb++
                        }
                    })
                return nb;
            },
        },
    })
</script>


</body>
</html>
