<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js" integrity="sha512-GZgi6mLZHE1kxwBwvhZV0OayASqAwhdFIy/5T4wOxw1WaThaSEIe7ppG5WmJLwbolvMqYrqVmu2eUfm+5HNumA==" crossorigin="anonymous"></script>
</head>
<body>
<div id="content">
    <h1>{{ title }}</h1>
    <ul>
        <li v-for="item in listArticles">
            {{item.art_design}}
        </li>
    </ul>
</div>
<script>
    var vue1 = new Vue({
        el: "#content",
        data: {
            title: "Articles list:",
            listArticles: []
        },
        created() {
            this.$http.get('http://localhost:45678/articlesList')
                .then(
                    response => {
                        this.listArticles = response.body; // in case of success
                    }, response => {
                        console.log('Error!'); // in case of failure
                    });
        }
    });
</script>
</body>
</html>
